.App {
}

.Toastify {
	&__toast {
		&-container {
			width: unset !important;
			min-width: 320px;
		}
		&-body {
			font-family: Work Sans;
		}

		&--error {
			border: 0;
			/* border-radius: 50px !important; */
			background: #a10f18 !important;
			color: #ffffff !important;

			svg > path {
				fill: #ffffff !important;
			}
		}

		&--success {
			border: 0;
			/* border-radius: 50px !important; */
			background: #169d53 !important;
			color: #ffffff !important;

			svg > path {
				fill: #ffffff !important;
			}
		}

		&--info {
			border: 0;
			/* border-radius: 50px !important; */
			background: #243256 !important;
			color: #ffffff !important;
			svg > path {
				fill: #ffffff !important;
			}
		}
	}
}

.layoutBody {
	width: 100%;
	display: grid;
	/* grid-template-columns: 59.86vw 1fr; */
	grid-template-columns: minmax(0, 1fr) 395px;
	gap: 1.5rem;
}

@media (max-width: 1024px) {
	.layoutBody {
		width: 100%;
		display: block;
	}
}
