.App {
}

.Toastify {
	&__toast {
		&-container {
			width: unset !important;
			min-width: 320px;
		}
		&-body {
			font-family: Work Sans;
		}

		&--error {
			border: 0;
			/* border-radius: 50px !important; */
			background: #a10f18 !important;
			color: #ffffff !important;

			svg > path {
				fill: #ffffff !important;
			}
		}

		&--success {
			border: 0;
			/* border-radius: 50px !important; */
			background: #169d53 !important;
			color: #ffffff !important;

			svg > path {
				fill: #ffffff !important;
			}
		}

		&--info {
			border: 0;
			/* border-radius: 50px !important; */
			background: #243256 !important;
			color: #ffffff !important;
			svg > path {
				fill: #ffffff !important;
			}
		}
	}
}

h1 {
	color: var(--main-dark, #101828);
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px; /* 126.667% */
}

h2 {
	color: var(--main-dark, #101828);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 150% */
}
h4 {
	color: #101828;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px; /* 155.556% */
}

input[type="checkbox"] {
	/* round the corners and make it orange when selected */

	appearance: none;
	border: 1px solid #e7ecf3;
	border-radius: 6px;
	width: 20px;
	height: 20px;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
	outline: none;
	background-color: #fff;
}

input[type="checkbox"]:checked {
	background-color: #ffffff;
	border-color: var(--pry-col, #3f5bf6);
}
input[type="checkbox"]:checked:after {
	content: "";
	position: absolute;
	left: 0.4rem;
	top: 0.15rem;
	width: 0.35rem;
	height: 0.65rem;
	border: solid #3f5bf6;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
input[type="checkbox"]:focus {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.layoutBody {
	width: 100%;
	display: grid;
	/* grid-template-columns: 59.86vw 1fr; */
	grid-template-columns: minmax(0, 1fr) 395px;
	gap: 1.5rem;
}

.PaginationComponent {
	display: flex;
	flex: row;
	align-items: center;
	gap: 2px;

	.previous {
		margin-right: auto;
		color: #475467;
	}

	.next {
		margin-left: auto;
		color: #475467;
	}

	&__page,
	&__break {
		min-width: 40px;
		width: 40px;
		height: 40px;

		display: grid;
		place-items: center;
		color: #475467;
		font-weight: 500;
	}

	&__active {
		background: #f9fafb;
		border-radius: 50%;
		color: #1d2939;
	}
}

@media (max-width: 1024px) {
	h1 {
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; /* 133.333% */
	}

	.layoutBody {
		width: 100%;
		display: block;
	}

	.PaginationComponent {
		&__page,
		&__break {
			display: none;
		}
	}

	.Toastify {
		&__toast-container {
			width: 80vw !important;

			&--bottom-center {
				bottom: 1em !important;
				left: 50% !important;
				transform: translateX(-50%) !important;
			}
		}
	}
}
