@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

.root,
#root,
#docs-root {
	--pry-col: #3f5bf6;

	--main-dark: #101828;
	--sec-dark: #344054;
}

body {
	font-family: Work Sans;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: var(--pry-col, #3f5bf6);
	color: #fff;
}

