@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
	--pry-col: #3f5bf6;

	--main-dark: #101828;
	--sec-dark: #344054;
}

body {
	font-family: Work Sans;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: var(--pry-col, #3f5bf6);
	color: #fff;
}

h1 {
	color: var(--main-dark, #101828);
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 38px; /* 126.667% */
}

h2 {
	color: var(--main-dark, #101828);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 150% */
}

input[type="checkbox"] {
	/* round the corners and make it orange when selected */

	appearance: none;
	border: 1px solid #e7ecf3;
	border-radius: 7px;
	width: 20px;
	height: 20px;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
	outline: none;
	background-color: #fff;
}

input[type="checkbox"]:checked {
	background-color: var(--pry-col, #3f5bf6);
	border-color: var(--pry-col, #3f5bf6);
}
input[type="checkbox"]:checked:after {
	content: "";
	position: absolute;
	left: 0.4rem;
	top: 0.25rem;
	width: 0.25rem;
	height: 0.5rem;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
input[type="checkbox"]:focus {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
